<h1>Om Har Har Mahadev.</h1>
<app-nav-bar ></app-nav-bar>
<app-post [parent]="Message" (messageEvent)="receivedMessage($event)"></app-post>
<br>
{{newMsg}}

<input type="text" (keyup.enter)="keypress(name.value)" #name>

<div class="parent">
<form>
    <label for="username">UserName :</label>
    <input type="text" class="username" value="" placeholder="Enter your Username">
<br>
    <label for="password">password :</label>
    <input type="password" class="password" value="" placeholder="Enter your password">

    <br>

<button type="submit" >
    Submit
</button>

</form>
</div>